.logincards {
  border-radius: 12px 12px 0px 0px !important;
  background-color: #2b2f39;
  padding: 30px;
  color: #fff;
}
.logincards .img{
  display: none;
}

/* .custom-control-label::after {
  background-color: #ef474d !important;
} */
.form-control-input {
  margin-right: 10px;
  vertical-align: middle;
}

.form-control-input:checked ~ .form-control-label::before {
  background-color: #ef474d !important;
  box-shadow: 0px 10px 19px rgba(219, 68, 74, 0.21) !important;
}

.form-control-input:checked:focus ~ .form-control-label::before {
  box-shadow: 0px 10px 19px rgba(219, 68, 74, 0.21) !important;
}

.form-control-input:focus ~ .form-control-label::before {
  box-shadow: 0px 10px 19px rgba(219, 68, 74, 0.21) !important;
}

.form-control-input:active ~ .form-control-label::before {
  background-color: #c8ffc8;
}

.logincards .newtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px !important;
  word-spacing: 0px !important;
  color: #fff;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 3px !important;
  margin-left:0px !important;
}
.newtitle {
  font-size: 1.75em;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  /* line-height: 32px; */
  color: black;
  /* margin-top: 3px; */
  /* margin-left:10px; */
}

.logincards .newsubtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  display: flex !important;
}
/* #content {
  background-color: yellow;
} */
.cardBorder{
  border: 1px solid #3c414b;
  color: #fff;
  background-color: #242831;
  display: inline-flex;
  overflow: auto;
  padding: 15px;
  border-radius: 4px 4px 0px 0px;
  width: 60rem;
  height: max-content;

}
.logincards .cardborder {
  border: 1px solid #3c414b;
  display: inline-flex;
  overflow: auto;
  padding: 15px;
  border-radius: 4px 4px 0px 0px;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
.cardborder {
  border: 1px solid #3c414b;
  display: inline-flex;
  overflow: auto;
  padding: 13px;
  border-radius: 4px 4px 0px 0px;
  margin-top: 10px;
  margin-left: 66px;
}

.logincards .cardborder .padding10 {
  padding: 10px;
  font-weight: 200;
}

.logincards .cardborder .padding10 .inputVerify {
  border: 1px solid #3c404b;
  color: #ef474d;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  background-color: inherit;
}

.logincards .cardborder .suggestion {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.logincards .cardborder .redtext {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #ef474d;
}

.logincards .bottomborder {
  background-color: inherit;
  cursor: pointer;
  border: 1px solid #3c414b;
  display: inline-flex;
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
}

.logincards .bottomborder .paddingL10 {
  padding: 2px 10px 2px 10px;
}

.logincards .bottomborder:hover {
  background-color: #373c47;
}

.logincards .togglebutton {
  color: #fff;
  text-align: start;
  align-items: center;
  justify-content: space-between;
  border: 0px solid;
  font-weight: 200;
}

.logincards .togglebutton:hover {
  background-color: #373c47;
  border: 0px solid;
}

.backcard {
  background-color: #222631;
  border-radius: 0px 0px 12px 12px;
  padding: 20px;
}

.hide {
  display: none;
}

.backcard .backButton {
  margin-left: 10px;
  color: #a1a1a1;
  cursor: pointer;
  text-decoration: underline;
}

.backcard .pageNo {
  margin-left: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #a1a1a1;
}

@media (max-width: 450px) {
  .logincards .new-title {
    font-size: 28px;
  }

  .logincards .padding10 {
    padding: 5px;
  }
}
