/* DASHBOARD CSS */
.dashtop {
  background-color: #2b2f39;
  /* padding-top: 110px; */
  /* margin-top: -100px !important; */
  padding-top: 50px;
  color: #fff;
}
.row {
  margin: 0;
}
.network {
  position: absolute;
  left: 90%;
  top: 6%;
}

.accounttitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.16px;
  /* color: #737373; */
  color: white;

  text-align: center;
}

.accountbalance {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.48px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

 .pha {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.48px;
  text-align: left;
}


.togglebutton {
  color: #ff8f8f;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  border: 0px solid;
  font-weight: 200;
  border-radius: 4px;
  background-color: #3c404b;
}

.togglebutton span {
  margin-left: 10px;
}

.togglebutton:hover {
  color: #fff !important;
  background: #242831 !important;
}

.dashtop > i {
  vertical-align: middle;
  float: left;
  font-size: 18px;
  margin: 15px 10px 0px 0px;
}

.information {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #84868a;
  padding-bottom: 20px;
}

.tokens{
  background: rgba(43, 47, 57) !important;
}

.tabbar {
  color: #fff;
}

.tabbar div > p {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.16px;
  text-align: left;
}
.tableBR {
  box-shadow :-9px 6px 8px -9px #888 inset

}
.tableBL {
  box-shadow :9px 6px 8px -9px #888 inset
}
.fa-chevron-circle-up:hover{
  opacity: 0.8 ;
  cursor: pointer;
}
.fa-chevron-circle-down:hover{
  opacity: 0.8 ;
  cursor: pointer;
}
.tableheader {
  color: #a7a7a7;
  font-weight: 600;
  border: none !important;

}
.darkBack{
  background-color: rgba(0,0,0,.1);

}
.tableheader th {
  border: none !important;
  font-size: 1.3em;
}

.nodata {
  color: #a7a7a7;
  font-size: 22px;
  height: 300px;
}

.tablerow td {
  border: none !important;
  vertical-align: middle;
  white-space: nowrap;
}

.addbox {
  background-color: #561e20;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.sendbox {
  background-color: #ff4148;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.textbox {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.16px;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.field {
  font-size: 19px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
}

.transactions {
  padding: 30px !important;
  color: #fff;
}


.transactions div > p {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.16px;
  text-align: left;
}

.tabHeading{
  font-weight: 600 !important;
}


.tableheader {
  color: #a7a7a7;
  font-weight: 600;
  border: none;
}

.nodata {
  color: #a7a7a7;
  font-size: 22px;
  height: 300px;
}

.address {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
}

/* ********* */
