<!doctype html>
<html lang="en">
    <head>
        <base href="./">
        <meta charset="utf-8">
        <meta name="application-name" content="lisk-desktop-<%= htmlWebpackPlugin.options.VERSION %>" data-lisk-desktop-version="<%= htmlWebpackPlugin.options.VERSION %>">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="Lisk, Lisk, wallet">
        <meta property="og:title" content="Phaeton">
        <meta property="og:description" name="description" content="Lisk is an all-in-one solution to manage your Lisk ID, access and send LSK tokens, as well as vote for delegates.">
        <!-- <meta property="og:image" content="https://lisk.io/hub/assets/images/og-logo.png"> -->
        <title>Phaeton</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="assets/css/modal.css" />
        <link rel="stylesheet" href="assets/css/mics.css" />
        <link rel="stylesheet" href="assets/css/toast.css" />
        <link rel="stylesheet" href="assets/css/newaccount.css" />

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <style>
          <%= compilation.assets['head.css'].source() %>
        </style>

        <%= htmlWebpackPlugin.files.css.map(href =>
          '<link href="' + href + '" rel="stylesheet">'
        ).join('\n') %>
        <link rel="icon" type="image/png" href="./assets/images/img/logo.png" />
        <script>
          /* Following comment is a placeholder used by `npm run build:testnet`, do not remove */
        </script>
        <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>

        <script
          src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
          crossorigin></script>
        
        <script
          src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
          crossorigin></script>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
        
    </head>
    <body>
        <div id="app"></div>
        <div class='splash-screen'>
        <!-- <figure class='logo'>
            <img alt="logo" src="./assets/images/img/logo.png">
          <div class="lds-ring">
              <div> </div>
              <div> </div>
              <div> </div>
              <div> </div>
          </div>
        </figure> -->
        </div>
        <%= htmlWebpackPlugin.files.js.map(href =>
          '<script type="text/javascript" src="' + href + '"></script>'
        ).join('\n') %>
</html>
